@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  margin: 0;
  padding: 0;
  outline: 0; }

html,
body {
  min-height: 100vh; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ebeaed; }

.frame {
  position: relative;
  width: 400px;
  height: 400px;
  background: #A8C0D8;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: 'Open Sans', Helvetica, sans-serif; }

.tree {
  position: absolute;
  bottom: 66.66667px;
  left: 198px; }
  .tree:before {
    position: absolute;
    left: -31.33333px;
    bottom: 0;
    width: 66.66667px;
    height: 4px;
    background: #607830;
    border-radius: 2px;
    content: '';
    z-index: 10;
    -webkit-animation: ground .3s linear 0s, ground-color 20s linear 0s infinite;
    animation: ground .3s linear 0s, ground-color 20s linear 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .tree__crown {
    position: absolute;
    top: -67px; }
    .tree__crown:before, .tree__crown:after {
      position: absolute;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 40px;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0); }
    .tree__crown:before {
      border-color: transparent #489030 #489030 transparent;
      left: -78px;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      -webkit-animation: crown-scale .5s ease .8s, crown-color-dark 20s linear 0s infinite;
      animation: crown-scale .5s ease .8s, crown-color-dark 20s linear 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .tree__crown:after {
      border-color: transparent transparent #A8D860 #A8D860;
      left: 2px;
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-animation: crown-scale .5s ease .8s, crown-color-light 20s linear 0s infinite;
      animation: crown-scale .5s ease .8s, crown-color-light 20s linear 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
  .tree__branch {
    position: absolute;
    width: 4px;
    background: #F0D8A8;
    border-radius: 2px;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
    .tree__branch--1 {
      bottom: 76px;
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
      -webkit-animation: branch-1 .3s linear .4s;
      animation: branch-1 .3s linear .4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .tree__branch--2 {
      bottom: 102px;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      -webkit-animation: branch-2 .3s linear .45s;
      animation: branch-2 .3s linear .45s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .tree__branch--3 {
      bottom: 128px;
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
      -webkit-animation: branch-3 .3s linear .5s;
      animation: branch-3 .3s linear .5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .tree__branch--4 {
      bottom: 154px;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      -webkit-animation: branch-4 .3s linear .55s;
      animation: branch-4 .3s linear .55s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .tree__branch--5 {
      bottom: 180px;
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
      -webkit-animation: branch-5 .3s linear .6s;
      animation: branch-5 .3s linear .6s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
  .tree__trunk {
    position: relative;
    width: 4px;
    background: #F0D8A8;
    border-radius: 2px;
    -webkit-animation: truck .45s linear .2s;
    animation: truck .45s linear .2s;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@-webkit-keyframes ground {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes ground {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@-webkit-keyframes ground-color {
  0%, 55%, 100% {
    background: #607830; }
  65%, 90% {
    background: #eee; } }

@keyframes ground-color {
  0%, 55%, 100% {
    background: #607830; }
  65%, 90% {
    background: #eee; } }

@-webkit-keyframes truck {
  0% {
    height: 0; }
  100% {
    height: 200px; } }

@keyframes truck {
  0% {
    height: 0; }
  100% {
    height: 200px; } }

@-webkit-keyframes branch-1 {
  0% {
    height: 0; }
  100% {
    height: 60px; } }

@keyframes branch-1 {
  0% {
    height: 0; }
  100% {
    height: 60px; } }

@-webkit-keyframes branch-2 {
  0% {
    height: 0; }
  100% {
    height: 50px; } }

@keyframes branch-2 {
  0% {
    height: 0; }
  100% {
    height: 50px; } }

@-webkit-keyframes branch-3 {
  0% {
    height: 0; }
  100% {
    height: 40px; } }

@keyframes branch-3 {
  0% {
    height: 0; }
  100% {
    height: 40px; } }

@-webkit-keyframes branch-4 {
  0% {
    height: 0; }
  100% {
    height: 30px; } }

@keyframes branch-4 {
  0% {
    height: 0; }
  100% {
    height: 30px; } }

@-webkit-keyframes branch-5 {
  0% {
    height: 0; }
  100% {
    height: 20px; } }

@keyframes branch-5 {
  0% {
    height: 0; }
  100% {
    height: 20px; } }

@-webkit-keyframes crown-scale {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes crown-scale {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@-webkit-keyframes crown-color-dark {
  0%, 25%, 100% {
    border-color: transparent #489030 #489030 transparent; }
  35%, 55% {
    border-color: transparent #D86000 #D86000 transparent; }
  65%, 90% {
    border-color: transparent #eee #eee transparent; } }

@keyframes crown-color-dark {
  0%, 25%, 100% {
    border-color: transparent #489030 #489030 transparent; }
  35%, 55% {
    border-color: transparent #D86000 #D86000 transparent; }
  65%, 90% {
    border-color: transparent #eee #eee transparent; } }

@-webkit-keyframes crown-color-light {
  0%, 25%, 100% {
    border-color: transparent transparent #A8D860 #A8D860; }
  35%, 55% {
    border-color: transparent transparent #F09000 #F09000; }
  65%, 90% {
    border-color: transparent transparent #fff #fff; } }

@keyframes crown-color-light {
  0%, 25%, 100% {
    border-color: transparent transparent #A8D860 #A8D860; }
  35%, 55% {
    border-color: transparent transparent #F09000 #F09000; }
  65%, 90% {
    border-color: transparent transparent #fff #fff; } }
