extend ../common/layout.pug

block title
  title 100DaysCSS N° 091 - Cube Loader



block body
  .perspective
    .box
      .box__fill-line
      .box__side.box__side--top
      .box__side.box__side--bottom
      .box__side.box__side--front
      .box__side.box__side--back
      .box__side.box__side--left
      .box__side.box__side--right
